services:
  web:
    build:
      context: .
    image: blombooru:latest
    container_name: blombooru
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - media:/app/media
      - data:/app/data
    restart: unless-stopped

  db:
    image: postgres:17
    container_name: blombooru-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
  media:
  data:
