# Application Settings
APP_NAME=Blombooru
APP_PORT=8000

# Database Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=blombooru
POSTGRES_HOST=db
POSTGRES_PORT=5432 # used for the Host port mapping in Docker, does not affect the internal application port.

# Redis Settings
REDIS_ENABLED=false
REDIS_HOST=redis
REDIS_PORT=6379 # used for the Host port mapping in Docker, does not affect the internal application port.
REDIS_DB=0
REDIS_PASSWORD=supersecretpasswordbutredis

# Shared Tag Database Settings
SHARED_TAGS_ENABLED=false
SHARED_TAG_DB_USER=postgres
SHARED_TAG_DB_PASSWORD=supersecretsharedtagdbpassword
SHARED_TAG_DB=shared_tags
SHARED_TAG_DB_HOST=shared-tag-db
SHARED_TAG_DB_PORT=5431 # used for the Host port mapping in Docker, does not affect the internal application port.
